*{
    margin-bottom: 2rem !important;
}

button{
    margin-right: 3rem !important;
    width: 100px;
}

.vl {
    border-left: 6px solid green;
    height: 180px;
}

.rating-color{
    color:#fbc634 !important;
}

.small-ratings i{
    color:#cecece;   
}

.m-0{
    margin: 0rem !important;
}

li{
    display: inline;
    padding: 1rem; 
    border: 1px solid rgb(209, 213, 219); 
    /* width: 30%;  */
    margin: 1rem 1rem !important; 
    border-radius: 0.5rem;
}